<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Hoiio Design Standards 2016">
    <meta name="keywords" content="design, ux, standard, hoiio, framework, html, css, interface, component, bootstrap">
    <meta name="author" content="Marcus">
    <link rel="icon" href="source/favicon.ico">

    <title>Hoiio Design Standards</title>
    <!-- jQuery --->
    <script src="../source/js/jquery-2.1.4.min.js"></script>
    <script src="../source/js/modernizr-custom.js"></script>

    <!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" href="../source/dist/css/bootstrap.min.css" />
	<!-- Main styles -->
	<link rel="stylesheet" type="text/css" href="../source/css/main.css" />
	<!-- Highlight -->
	<link rel="stylesheet" type="text/css" href="../source/css/tomorrow.css" />
	
</head>
<body>
    <div class="se-pre-con"></div>
    
    <!-- Main container -->
	<div class="container" id="page">
		<!-- Header -->
		<header class="header"></header>
		<!-- Main Content -->
		<div class="body">
            <!-- Sidebar -->
            <div id="sidebar"></div>
            <!-- Content -->
            <div id="content">
                <div class="content-item component-button">
                    <div class="item-info">
                        <div class="item-title"><h1>Button</h1></div>
                        <div class="item-description">
                            
                        </div>
                    </div>
                    <div class="sub-item">
                        <h2>Types</h2>
                        <div class="sub-display">
                            <button class="btn btn-default">Standard Button</button>
                            
                            <button class="btn btn-primary">Primary Button</button>
                            
                            <button class="btn disabled">Disabled</button>
                            
                            <button class="btn btn-link">Linked Button</button>
                        </div>
                        <div class="sub-info">
                            <pre>
<code class="html hljs xml">
&lt;button class=&quot;btn btn-default&quot;&gt;Standard Button&lt;/button&gt;

&lt;button class=&quot;btn btn-primary&quot;&gt;Primary Button&lt;/button&gt;

&lt;button class=&quot;btn disabled&quot;&gt;Disabled&lt;/button&gt;

&lt;button class=&quot;btn btn-link&quot;&gt;Linked Button&lt;/button&gt;
</code>
                            </pre>
                        </div>
                    </div>
                    <div class="sub-item">
                        <h2>Sizes</h2>
                        <div class="sub-display">
                            <button class="btn btn-sm btn-primary">Small Button</button>
                            <button class="btn btn-primary">Normal Button</button>
                            <button class="btn btn-lg btn-primary">Huge Button</button>
                        </div>
                        <div class="sub-info">
                           <pre>
<code class="html hljs xml">
&lt;button class=&quot;btn btn-sm btn-primary&quot;&gt;Small Button&lt;/button&gt;

&lt;button class=&quot;btn btn-primary&quot;&gt;Normal Button&lt;/button&gt;

&lt;button class=&quot;btn btn-lg btn-primary&quot;&gt;Huge Button&lt;/button&gt;
</code>
                            </pre>
                        </div>
                    </div>
                    <div class="sub-item">
                        <h2>Variations</h2>
                        <div class="sub-display">
                            <button class="btn btn-upper btn-success">Capitalized Text</button>
                            
                            <button class="btn btn-wide btn-info">Wide Button</button>
                            
                            <button class="btn btn-outline-warning">Outline Button</button>
                            
                            <button class="btn btn-danger">
                                Button:<span class="btn-inner-info">With Info</span>
                            </button>
                        </div>
                        <div class="sub-info">
                            <pre>
<code class="html">
&lt;button class=&quot;btn btn-upper btn-success&quot;&gt;Capitalized Text&lt;/button&gt;

&lt;button class=&quot;btn btn-wide btn-info&quot;&gt;Wide Button&lt;/button&gt;

&lt;button class=&quot;btn btn-outline-warning&quot;&gt;Outline Button&lt;/button&gt;

&lt;button class=&quot;btn btn-danger&quot;&gt;
    Button:&lt;span class=&quot;btn-inner-info&quot;&gt;With Info&lt;/span&gt;
&lt;/button&gt;
</code>
                            </pre>
                        </div>
                    </div>
                    <div class="sub-item">
                        <h2>Alternative Colors</h2>
                        
                        <div class="sub-display">
                            <button class="btn btn-primary">Primary</button>
                            
                            <button class="btn btn-info">Info</button>
                            
                            <button class="btn btn-danger">Danger</button>
                            
                            <button class="btn btn-success">Success</button>
                            
                            <button class="btn btn-warning">Warning</button>
                           
                        </div>
                        <div class="sub-info">
                            <pre>
<code class="html">
&lt;button class=&quot;btn btn-primary&quot;&gt;Primary&lt;/button&gt;

&lt;button class=&quot;btn btn-info&quot;&gt;Info&lt;/button&gt;

&lt;button class=&quot;btn btn-danger&quot;&gt;Danger&lt;/button&gt;

&lt;button class=&quot;btn btn-success&quot;&gt;Success&lt;/button&gt;

&lt;button class=&quot;btn btn-warning&quot;&gt;Warning&lt;/button&gt;
</code>
                            </pre>
                        </div>

                    </div>
                    
                </div>   
            </div>
        </div>
        <!-- Footer -->
        <footer class="footer"></footer>
    </div>
	
    <!-- Latest compiled and minified JavaScript -->
    <script src="../source/dist/js/bootstrap.min.js"></script>
	<script src="../source/js/highlight.pack.js"></script>
    <script src="../source/js/main.js"></script>
    <script src="../source/js/component.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    
    
</body>
</html>