<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Hoiio Design Standards 2016">
    <meta name="keywords" content="design, ux, standard, hoiio, framework, html, css, interface, component, bootstrap">
    <meta name="author" content="Marcus">
    <link rel="icon" href="source/favicon.ico">

    <title>Hoiio Design Standards</title>
    <!-- jQuery --->
    <script src="../source/js/jquery-2.1.4.min.js"></script>
    <script src="../source/js/modernizr-custom.js"></script>

    <!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" href="../source/dist/css/bootstrap.min.css" />
	<!-- Main styles -->
	<link rel="stylesheet" type="text/css" href="../source/css/main.css" />
	<!-- Highlight -->
	<link rel="stylesheet" type="text/css" href="../source/css/tomorrow.css" />
	
</head>
<body>
    <!-- Main container -->
	<div class="container" id="page">
		<!-- Header -->
		<header class="header"></header>
		<!-- Main Content -->
		<div class="body">
            <!-- Sidebar -->
            <div id="sidebar"></div>
            <!-- Content -->
            <div id="content">
                <div class="content-item component-input">
                    <div class="item-info">
                        <div class="item-title"><h1>Input</h1></div>
                        <div class="item-description">
                            
                        </div>
                    </div>
                    <!-- Sub item -->
                    <div class="sub-item">
                        <h2>Default</h2>
                        <!-- Sub display -->
                        <div class="sub-display">
                            
                            

<input type="text" class="form-control" placeholder="Normal">
<input type="text" class="form-control" value="Disabled" disabled >
<input type="text" class="form-control input-lg" placeholder="Huge">                       
<input type="text" class="form-control input-sm" placeholder="Small">
                        </div>
                        <!-- Sub info -->
                        <div class="sub-info">
                            <pre>
<code class="html hljs xml">
&lt;!-- Normal --&gt;
&lt;input type=&quot;text&quot; class=&quot;form-control&quot; placeholder=&quot;Normal&quot;&gt;

&lt;!-- Disabled --&gt;
&lt;input type=&quot;text&quot; class=&quot;form-control&quot; value=&quot;Disabled&quot; disabled &gt;

&lt;!-- Huge --&gt;
&lt;input type=&quot;text&quot; class=&quot;form-control input-lg&quot; placeholder=&quot;Huge&quot;&gt;

&lt;!-- Small --&gt;
&lt;input type=&quot;text&quot; class=&quot;form-control input-sm&quot; placeholder=&quot;Small&quot;&gt;
</code>
                            </pre>
                        </div>
                    </div>
                    <!-- Sub item -->
                    <div class="sub-item">
                        <h2>With Icon</h2>
                        <!-- Sub display -->
                        <div class="sub-display">
<!-- Prepend -->
<div class="input-group">
    <span class="input-group-addon"><i class="h-icon h-icon-phone"></i></span>
    <input type="text" class="form-control" placeholder="Prepend">
</div>

<!-- Append -->
<div class="input-group">
    <input type="text" class="form-control" placeholder="Append">
    <span class="input-group-addon"><i class="h-icon h-icon-phone-reverse"></i></span>
</div> 
                        </div>
                        <!-- Sub info -->
                        <div class="sub-info">
                            <pre>
<code class="html hljs xml">
&lt;!-- Prepend --&gt;
&lt;div class=&quot;input-group&quot;&gt;
    &lt;span class=&quot;input-group-addon&quot;&gt;&lt;i class=&quot;h-icon h-icon-phone&quot;&gt;&lt;/i&gt;&lt;/span&gt;
    &lt;input class=&quot;form-control&quot;&gt;
&lt;/div&gt;

&lt;!-- Append --&gt;
&lt;div class=&quot;input-group&quot;&gt;
    &lt;input class=&quot;form-control&quot;&gt;
    &lt;span class=&quot;input-group-addon&quot;&gt;&lt;i class=&quot;h-icon h-icon-phone-reverse&quot;&gt;&lt;/i&gt;&lt;/span&gt;
&lt;/div&gt; 
</code>
                            </pre>
                        </div>
                    </div>
                    <!-- Sub item -->
                    <div class="sub-item">
                        <h2>With non-background Icon</h2>
                        <!-- Sub display -->
                        <div class="sub-display">
<!-- Prepend -->
<div class="form-group">
    <i class="h-icon h-icon-phone form-control-feedback form-control-feedback-inverse"></i>
    <input type="text" class="form-control form-control-inverse" placeholder="Phone number">
</div>

<!-- Append -->
<div class="form-group">
    <input type="text" class="form-control" placeholder="Phone number">
    <i class="h-icon h-icon-phone-reverse form-control-feedback"></i>
</div>                            
                        </div>
                        <!-- Sub info -->
                        <div class="sub-info">
                            <pre>
<code class="html hljs xml">
&lt;!-- Prepend --&gt;
&lt;div class=&quot;form-group&quot;&gt;
    &lt;i class=&quot;h-icon h-icon-phone form-control-feedback form-control-feedback-inverse&quot;&gt;&lt;/i&gt;
    &lt;input class=&quot;form-control form-control-inverse&quot;&gt;
&lt;/div&gt;

&lt;!-- Append --&gt;
&lt;div class=&quot;form-group&quot;&gt;
    &lt;input class=&quot;form-control&quot;&gt;
    &lt;i class=&quot;h-icon h-icon-phone-reverse form-control-feedback&quot;&gt;&lt;/i&gt;
&lt;/div&gt; 
</code>
                            </pre>
                        </div>
                    </div>
                    <!-- Sub item -->
                    <div class="sub-item">
                        <h2>WITH BUTTON</h2>
                        <!-- Sub display -->
                        <div class="sub-display">
<!-- Prepend -->
<div class="input-group">
    <span class="input-group-btn">
        <button type="submit" class="btn btn-default"><i class="h-icon h-icon-location"></i></button>
    </span>
    <input type="text" class="form-control" placeholder="Enter your location">
</div>

<!-- Append -->
<div class="input-group">
    <input type="text" class="form-control" placeholder="Enter your location">
    <span class="input-group-btn">
        <button type="submit" class="btn btn-default"><i class="h-icon h-icon-location"></i></button>
    </span>
</div>                            
                        </div>
                        <!-- Sub info -->
                        <div class="sub-info">
                            <pre>
<code class="html hljs xml">
&lt;!-- Prepend --&gt;
&lt;div class=&quot;input-group&quot;&gt;
    &lt;span class=&quot;input-group-btn&quot;&gt;
        &lt;button type=&quot;submit&quot; class=&quot;btn btn-default&quot;&gt;&lt;i class=&quot;h-icon h-icon-location&quot;&gt;&lt;/i&gt;&lt;/button&gt;
    &lt;/span&gt;
    &lt;input class=&quot;form-control&quot;&gt;
&lt;/div&gt;

&lt;!-- Append --&gt;
&lt;div class=&quot;input-group&quot;&gt;
    &lt;input class=&quot;form-control&quot;&gt;
    &lt;span class=&quot;input-group-btn&quot;&gt;
        &lt;button type=&quot;submit&quot; class=&quot;btn btn-default&quot;&gt;&lt;i class=&quot;h-icon h-icon-location&quot;&gt;&lt;/i&gt;&lt;/button&gt;
    &lt;/span&gt;
&lt;/div&gt;   
</code>
                            </pre>
                        </div>
                    </div>
                    <!-- Sub item -->
                    <div class="sub-item">
                        <h2>WITH SELECTION</h2>
                        
                        <!-- Sub display -->
                        <div class="sub-display">
<!-- Prepend -->
<div class="input-group multi-input-prepend">
  <div class="input-group-btn">
        <select class="selectpicker form-control">
            <option value="1">Mr</option>
            <option value="2">Mrs</option>
        </select>
  </div>
  <input type="text" class="form-control" placeholder="Enter your name" />
</div>

<!-- Append -->
<div class="input-group multi-input-append">
  <input type="text" class="form-control" placeholder="Enter your city" />
  <div class="input-group-btn">
        <select  class="selectpicker form-control">
            <option value="1">Mr</option>
            <option value="2">Mrs</option>
        </select>
  </div>
</div>                           
                        </div>
                        <!-- Sub info -->
                        <div class="sub-info">
                            <pre>
<code class="html hljs xml">
&lt;!-- Prepend --&gt;
&lt;div class=&quot;input-group multi-input-prepend&quot;&gt;
  &lt;div class=&quot;input-group-btn&quot;&gt;
        &lt;select class=&quot;selectpicker form-control&quot;&gt;
            &lt;option value=&quot;1&quot;&gt;...&lt;/option&gt;
        &lt;/select&gt;
  &lt;/div&gt;
  &lt;input class=&quot;form-control&quot;&gt;
&lt;/div&gt;

&lt;!-- Append --&gt;
&lt;div class=&quot;input-group multi-input-append&quot;&gt;
  &lt;input class=&quot;form-control&quot;&gt;
  &lt;div class=&quot;input-group-btn&quot;&gt;
        &lt;select  class=&quot;selectpicker form-control&quot;&gt;
            &lt;option value=&quot;1&quot;&gt;...&lt;/option&gt;
        &lt;/select&gt;
  &lt;/div&gt;
&lt;/div&gt; 
</code>
                            </pre>
                        </div>
                    </div>
                    <!-- Sub item -->
                    <div class="sub-item">
                        <h2>Multi Input</h2>
                        <!-- Sub display -->
                        <div class="sub-display">
<!-- Icon and Button -->
<div class="input-group">
    <span class="input-group-addon">$</span>
    <input class="form-control">
    <span class="input-group-btn"><button class="btn btn-default" type="button">Button</button></span>
</div>
<!-- Selection and Button -->
<div class="input-group multi-input-prepend">
    <div class="input-group-btn">
        <select class="selectpicker form-control">
            <option value="1">Mr</option>
            <option value="2">Mrs</option>
        </select>
    </div>
    <input class="form-control">
    <span class="input-group-btn"><button class="btn btn-default" type="button">Button</button></span>
</div>
                        </div>    
                        <!-- Sub info -->
                        <div class="sub-info">
                            <pre>
<code class="html hljs xml">
&lt;!-- Icon and Button --&gt;
&lt;div class=&quot;input-group&quot;&gt;
    &lt;span class=&quot;input-group-addon&quot;&gt;$&lt;/span&gt;
    &lt;input class=&quot;form-control&quot;&gt;
    &lt;span class=&quot;input-group-btn&quot;&gt;&lt;button class=&quot;btn btn-default&quot; type=&quot;button&quot;&gt;Button&lt;/button&gt;&lt;/span&gt;
&lt;/div&gt;

&lt;!-- Selection and Button --&gt;
&lt;div class=&quot;input-group multi-input-prepend&quot;&gt;
    &lt;div class=&quot;input-group-btn&quot;&gt;
        &lt;select class=&quot;selectpicker form-control&quot;&gt;
            &lt;option value=&quot;1&quot;&gt;...&lt;/option&gt;
        &lt;/select&gt;
    &lt;/div&gt;
    &lt;input class=&quot;form-control&quot;&gt;
    &lt;span class=&quot;input-group-btn&quot;&gt;&lt;button class=&quot;btn btn-default&quot; type=&quot;button&quot;&gt;Button&lt;/button&gt;&lt;/span&gt;
&lt;/div&gt; 
</code>
                            </pre>
                        </div>
                    </div>
                    <!-- Sub item -->
                    <div class="sub-item">
                        <h2>Alternate Colors</h2>
                      
                        <!-- Sub display -->
                        <div class="sub-display">
<!-- Warning -->
<div class="input-group has-warning">
    <input type="text" class="form-control" placeholder="Warning (button)">
    <span class="input-group-btn">
        <button type="submit" class="btn btn-warning"><i class="h-icon h-icon-location"></i></button>
    </span>
</div> 
                            
<!-- Error -->
<div class="form-group has-error">
    <input type="text" class="form-control" placeholder="Error (non-background icon)">
    <i class="h-icon h-icon-cancel form-control-feedback"></i>
</div>
                            
<!-- Success -->                           
<div class="input-group has-success">
    <input type="text" class="form-control" placeholder="Success (icon)">
    <span class="input-group-addon"><i class="h-icon h-icon-ok"></i></span>
</div> 
                        </div>
                          <!-- Sub info -->
                        <div class="sub-info">
                            <pre>
<code class="html hljs xml">
&lt;!-- Warning (button): has-warning and btn-warning --&gt;
&lt;div class=&quot;input-group has-warning&quot;&gt;
    &lt;input class=&quot;form-control&quot;&gt;
    &lt;span class=&quot;input-group-btn&quot;&gt;
        &lt;button type=&quot;submit&quot; class=&quot;btn btn-warning&quot;&gt;&lt;i class=&quot;h-icon h-icon-location&quot;&gt;&lt;/i&gt;&lt;/button&gt;
    &lt;/span&gt;
&lt;/div&gt;  

&lt;!-- Error (non-background icon): has-error --&gt;
&lt;div class=&quot;form-group has-error&quot;&gt;
    &lt;input class=&quot;form-control&quot;&gt;
    &lt;i class=&quot;h-icon h-icon-cancel form-control-feedback&quot;&gt;&lt;/i&gt;
&lt;/div&gt;

&lt;!-- Success (icon): has-success --&gt;                           
&lt;div class=&quot;input-group has-success&quot;&gt;
    &lt;input class=&quot;form-control&quot;&gt;
    &lt;span class=&quot;input-group-addon&quot;&gt;&lt;i class=&quot;h-icon h-icon-ok&quot;&gt;&lt;/i&gt;&lt;/span&gt;
&lt;/div&gt; 
</code>
                            </pre>
                        </div>
                    </div>
                </div>   
            </div>
        </div>
        <!-- Footer -->
        <footer class="footer"></footer>
    </div>
	
    <!-- Latest compiled and minified JavaScript -->
    <script src="../source/dist/js/bootstrap.min.js"></script>
	<script src="../source/js/highlight.pack.js"></script>
    <script src="../source/js/main.js"></script>
    <script src="../source/js/component.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    
    
</body>
</html>